html, body {
    height: 100%;
}
footer {
    width: 100%;
}
.wrapper {
    min-height: 100%;
    padding: 5px 0;
}
.form-group.required label:after {
    content:"*";
    color:red;
}
a.icon {
    text-decoration: none!important;
}